.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.imgList {
    height: 100%;
}

.navList {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.navList>span {
    display: inline-block;
    vertical-align: top;
    background-color: #f6f6f6;
}

.navList>.active {
    background-color: #fff;
}